<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h2 class="text-white">ここにポケモン画像</h2>
    <h2 class="text-white">ここにアイコン「my/enemy」</h2>
    <h2 class="text-white">ここにタイプ相性アイコン</h2>
    <h2 class="text-white">ここに守備側編集アイコン</h2>
    <h2 class="text-white">ここに特性の表示枠</h2>
    <h2 class="text-white">ここに特性の選択ラジオボタン</h2>
    <h2 class="text-white">ここに状態表示の窓</h2>
    <h2 class="text-white">ここにHPバー</h2>
    <h2 class="text-white">ここに攻撃側の窓</h2>
    <h2 class="text-white">ここに攻撃側編集アイコン</h2>
    <h2 class="text-white">ここに攻守交替アイコン</h2>
    <h2 class="text-white">ここに選択中パーティ名</h2>
    <h2 class="text-white">ここにパーティ変更矢印アイコン</h2>
    <h2 class="text-white">ここにパーティ内ポケモン</h2>
  </div>
</div>